.navBar
{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  
}
.landing
{
  /* position: relative; */
}


.logout
{
  position: absolute;
  z-index: 1;
  width: 8%;
  display: block;
  top:80px;
  right: 12px;  
}


.register
{
  border: 3px solid #f8c45c;
  border-radius: 250px;
  width: 250px;
  height: 50px;
  margin-top: 20px;
  font-weight: bold;
  background-color: white;
}
.register:hover{
  cursor: pointer;
  background-color: #f8c45c;
  transition: 500ms;
}
.navCenter
{
  display: flex;
  justify-content: space-around;
  width: 100%;
  cursor: pointer;
}

.logo
{
  width: 65%;
  text-align: left;
}
